In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
T=pd.read_csv("TIMETABLE.csv")
T

,IDtimetable,coursecode,IDprogramme,coursegrps,numbstudents,stdlevel,IDroom,roomname,examPERIOD,examDATE
0,3997,ENG105B,NaN,46.0,145,100,32,LARGE LECTURE THEATER,08:30AM - 10:30AM,08-May-2013
1,3998,ENG105B,NaN,14.0,140,100,35,ASSEMBLY HALL,08:30AM - 10:30AM,08-May-2013
2,3999,ENG105B,NaN,34.0,140,100,47,FACULTY OF EDUCATION LECTURE THEATRE,08:30AM - 10:30AM,08-May-2013
3,4000,ENG105B,NaN,35.0,140,100,48,FACULTY OF EDUCATION LECTURE THEATRE,08:30AM - 10:30AM,08-May-2013
4,4001,ENG105B,NaN,10.0,130,100,33,ASSEMBLY HALL,08:30AM - 10:30AM,08-May-2013
...,...,...,...,...,...,...,...,...,...,...
770,4657,INF306,BSC ( INFO. TECH.),NaN,32,300,49,FACULTY OF EDUCATION LECTURE THEATRE,12NOON - 14:00PM,24-May-2013
771,4658,ESC399,B. ED. ( SCIENCE),NaN,40,300,42,FACULTY OF EDUCATION LECTURE THEATRE,08:30AM - 10:30AM,17-May-2013
772,4659,MUD314,BACHELOR OF MUSIC,NaN,1,300,43,FACULTY OF EDUCATION LECTURE THEATRE,08:30AM - 10:30AM,24-May-2013
773,4660,EBS214,B. ED. ( BASIC. ED.),NaN,16,200,4,LECTURE THEATER,15:30PM - 17:30PM,06-May-2013
774,4661,MLT215,BSC. ( MEDLAB),NaN,63,200,40,FACULTY OF EDUCATION LECTURE THEATRE,15:30PM - 17:30PM,13-May-2013

In [5]:
T.loc[:,["coursecode","numbstudents"]]

    coursecode  numbstudents
0      ENG105B           145
1      ENG105B           140
2      ENG105B           140
3      ENG105B           140
4      ENG105B           130
..         ...           ...
770     INF306            32
771     ESC399            40
772     MUD314             1
773     EBS214            16
774     MLT215            63

[775 rows x 2 columns]

In [3]:
T.fillna(value=0)

,IDtimetable,coursecode,IDprogramme,coursegrps,numbstudents,stdlevel,IDroom,roomname,examPERIOD,examDATE
0,3997,ENG105B,0,46.0,145,100,32,LARGE LECTURE THEATER,08:30AM - 10:30AM,08-May-2013
1,3998,ENG105B,0,14.0,140,100,35,ASSEMBLY HALL,08:30AM - 10:30AM,08-May-2013
2,3999,ENG105B,0,34.0,140,100,47,FACULTY OF EDUCATION LECTURE THEATRE,08:30AM - 10:30AM,08-May-2013
3,4000,ENG105B,0,35.0,140,100,48,FACULTY OF EDUCATION LECTURE THEATRE,08:30AM - 10:30AM,08-May-2013
4,4001,ENG105B,0,10.0,130,100,33,ASSEMBLY HALL,08:30AM - 10:30AM,08-May-2013
...,...,...,...,...,...,...,...,...,...,...
770,4657,INF306,BSC ( INFO. TECH.),0.0,32,300,49,FACULTY OF EDUCATION LECTURE THEATRE,12NOON - 14:00PM,24-May-2013
771,4658,ESC399,B. ED. ( SCIENCE),0.0,40,300,42,FACULTY OF EDUCATION LECTURE THEATRE,08:30AM - 10:30AM,17-May-2013
772,4659,MUD314,BACHELOR OF MUSIC,0.0,1,300,43,FACULTY OF EDUCATION LECTURE THEATRE,08:30AM - 10:30AM,24-May-2013
773,4660,EBS214,B. ED. ( BASIC. ED.),0.0,16,200,4,LECTURE THEATER,15:30PM - 17:30PM,06-May-2013
774,4661,MLT215,BSC. ( MEDLAB),0.0,63,200,40,FACULTY OF EDUCATION LECTURE THEATRE,15:30PM - 17:30PM,13-May-2013

In [7]:
T1=T.loc[T["numbstudents"]==16]
T1

,IDtimetable,coursecode,IDprogramme,coursegrps,numbstudents,stdlevel,IDroom,roomname,examPERIOD,examDATE
49,4095,HIV101,B. ED. ( MATHS),NaN,16,100,35,ASSEMBLY HALL,15:30PM - 17:30PM,08-May-2013
79,4125,ILT101,BSC. ( WATER AND SANITATION),NaN,16,100,47,FACULTY OF EDUCATION LECTURE THEATRE,15:30PM - 17:30PM,06-May-2013
137,4227,THS312,B. A. ( THEATRE STDS.),NaN,16,300,33,ASSEMBLY HALL,15:30PM - 17:30PM,17-May-2013
148,4238,THS318,B. A. ( THEATRE STDS.),NaN,16,300,35,ASSEMBLY HALL,12NOON - 14:00PM,06-May-2013
253,4423,POH422,BA ( POP. & HEALTH.),NaN,16,400,49,FACULTY OF EDUCATION LECTURE THEATRE,15:30PM - 17:30PM,14-May-2013
318,4691,ECO310,B. A. ( SOCIAL SCIENCES),NaN,16,300,18,LECTURE THEATER,08:30AM - 10:30AM,14-May-2013
346,4719,FRE412,B. A. ( ARTS),NaN,16,400,32,LARGE LECTURE THEATER,15:30PM - 17:30PM,10-May-2013
354,4727,CTN410,BSC ( INDUSTRIAL CHEMISTRY),NaN,16,400,27,LECTURE THEATER,12NOON - 14:00PM,13-May-2013
386,4759,GHL316A,B. A. ( ARTS),NaN,16,300,54,LECTURE THEATER,08:30AM - 10:30AM,06-May-2013
519,4410,CTN411,BSC ( INDUSTRIAL CHEMISTRY),NaN,16,400,32,LARGE LECTURE THEATER,08:30AM - 10:30AM,07-May-2013
577,4464,CTN408,BSC ( INDUSTRIAL CHEMISTRY),NaN,16,400,28,LECTURE THEATER,12NOON - 14:00PM,20-May-2013
583,4470,EAS403,B. ED. ( ARTS),NaN,16,400,24,LECTURE THEATER,08:30AM - 10:30AM,20-May-2013
700,4587,ESS218,B. ED. ( SOC. SCI.),NaN,16,200,43,FACULTY OF EDUCATION LECTURE THEATRE,08:30AM - 10:30AM,24-May-2013
773,4660,EBS214,B. ED. ( BASIC. ED.),NaN,16,200,4,LECTURE THEATER,15:30PM - 17:30PM,06-May-2013

In [8]:
T[T["coursecode"]=="ENG105B"]

,IDtimetable,coursecode,IDprogramme,coursegrps,numbstudents,stdlevel,IDroom,roomname,examPERIOD,examDATE
0,3997,ENG105B,NaN,46.0,145,100,32,LARGE LECTURE THEATER,08:30AM - 10:30AM,08-May-2013
1,3998,ENG105B,NaN,14.0,140,100,35,ASSEMBLY HALL,08:30AM - 10:30AM,08-May-2013
2,3999,ENG105B,NaN,34.0,140,100,47,FACULTY OF EDUCATION LECTURE THEATRE,08:30AM - 10:30AM,08-May-2013
3,4000,ENG105B,NaN,35.0,140,100,48,FACULTY OF EDUCATION LECTURE THEATRE,08:30AM - 10:30AM,08-May-2013
4,4001,ENG105B,NaN,10.0,130,100,33,ASSEMBLY HALL,08:30AM - 10:30AM,08-May-2013
5,4002,ENG105B,NaN,11.0,120,100,44,FACULTY OF EDUCATION LECTURE THEATRE,08:30AM - 10:30AM,08-May-2013
6,4003,ENG105B,NaN,12.0,120,100,77,CENTER FOR CONTINUING EDUCATION,08:30AM - 10:30AM,08-May-2013
7,4004,ENG105B,NaN,13.0,120,100,78,CENTER FOR CONTINUING EDUCATION,08:30AM - 10:30AM,08-May-2013
8,4005,ENG105B,NaN,45.0,120,100,79,CENTER FOR CONTINUING EDUCATION,08:30AM - 10:30AM,08-May-2013
9,4006,ENG105B,NaN,18.0,115,100,80,CENTER FOR CONTINUING EDUCATION,08:30AM - 10:30AM,08-May-2013
10,4007,ENG105B,NaN,3.0,115,100,81,CENTER FOR CONTINUING EDUCATION,08:30AM - 10:30AM,08-May-2013
11,4008,ENG105B,NaN,9.0,112,100,82,CENTER FOR CONTINUING EDUCATION,08:30AM - 10:30AM,08-May-2013
12,4009,ENG105B,NaN,1.0,111,100,83,CENTER FOR CONTINUING EDUCATION,08:30AM - 10:30AM,08-May-2013
13,4010,ENG105B,NaN,17.0,111,100,84,CENTER FOR CONTINUING EDUCATION,08:30AM - 10:30AM,08-May-2013
14,4011,ENG105B,NaN,2.0,109,100,85,CENTER FOR CONTINUING EDUCATION,08:30AM - 10:30AM,08-May-2013
15,4012,ENG105B,NaN,4.0,104,100,86,CENTER FOR CONTINUING EDUCATION,08:30AM - 10:30AM,08-May-2013
16,4013,ENG105B,NaN,43.0,100,100,87,CENTER FOR CONTINUING EDUCATION,08:30AM - 10:30AM,08-May-2013
17,4014,ENG105B,NaN,44.0,100,100,49,FACULTY OF EDUCATION LECTURE THEATRE,08:30AM - 10:30AM,08-May-2013
18,4015,ENG105B,NaN,42.0,90,100,50,FACULTY OF EDUCATION LECTURE THEATRE,08:30AM - 10:30AM,08-May-2013
19,4016,ENG105B,NaN,39.0,90,100,29,LECTURE THEATER,08:30AM - 10:30AM,08-May-2013
20,4017,ENG105B,NaN,19.0,90,100,46,FACULTY OF EDUCATION LECTURE THEATRE,08:30AM - 10:30AM,08-May-2013
21,4018,ENG105B,NaN,20.0,90,100,36,CAFETERIA ROOF TOP,08:30AM - 10:30AM,08-May-2013
22,4019,ENG105B,NaN,24.0,85,100,41,FACULTY OF EDUCATION LECTURE THEATRE,08:30AM - 10:30AM,08-May-2013
23,4020,ENG105B,NaN,27.0,85,100,42,FACULTY OF EDUCATION LECTURE THEATRE,08:30AM - 10:30AM,08-May-2013
24,4021,ENG105B,NaN,41.0,85,100,34,ASSEMBLY HALL,08:30AM - 10:30AM,08-May-2013
25,4022,ENG105B,NaN,32.0,82,100,32,LARGE LECTURE THEATER,08:30AM - 10:30AM,08-May-2013
26,4023,ENG105B,NaN,5.0,70,100,32,LARGE LECTURE THEATER,08:30AM - 10:30AM,08-May-2013
27,4024,ENG105B,NaN,38.0,82,100,32,LARGE LECTURE THEATER,08:30AM - 10:30AM,08-May-2013
28,4025,ENG105B,NaN,16.0,80,100,32,LARGE LECTURE THEATER,08:30AM - 10:30AM,08-May-2013
29,4026,ENG105B,NaN,37.0,80,100,35,ASSEMBLY HALL,08:30AM - 10:30AM,08-May-2013
30,4027,ENG105B,NaN,6.0,71,100,32,LARGE LECTURE THEATER,08:30AM - 10:30AM,08-May-2013
31,4028,ENG105B,NaN,7.0,65,100,47,FACULTY OF EDUCATION LECTURE THEATRE,08:30AM - 10:30AM,08-May-2013
32,4029,ENG105B,NaN,29.0,80,100,48,FACULTY OF EDUCATION LECTURE THEATRE,08:30AM - 10:30AM,08-May-2013
33,4030,ENG105B,NaN,33.0,70,100,40,FACULTY OF EDUCATION LECTURE THEATRE,08:30AM - 10:30AM,08-May-2013
34,4031,ENG105B,NaN,33.0,12,100,50,FACULTY OF EDUCATION LECTURE THEATRE,08:30AM - 10:30AM,08-May-2013
35,4032,ENG105B,NaN,26.0,66,100,18,LECTURE THEATER,08:30AM - 10:30AM,08-May-2013
36,4033,ENG105B,NaN,26.0,15,100,19,LECTURE THEATER,08:30AM - 10:30AM,08-May-2013
37,4034,ENG105B,NaN,36.0,60,100,31,LECTURE THEATER,08:30AM - 10:30AM,08-May-2013
38,4035,ENG105B,NaN,36.0,21,100,22,LECTURE THEATER,08:30AM - 10:30AM,08-May-2013
39,4036,ENG105B,NaN,28.0,60,100,43,FACULTY OF EDUCATION LECTURE THEATRE,08:30AM - 10:30AM,08-May-2013
40,4037,ENG105B,NaN,28.0,21,100,51,FACULTY OF EDUCATION LECTURE THEATRE,08:30AM - 10:30AM,08-May-2013
41,4038,ENG105B,NaN,30.0,60,100,45,FACULTY OF EDUCATION LECTURE THEATRE,08:30AM - 10:30AM,08-May-2013
42,4039,ENG105B,NaN,30.0,20,100,49,FACULTY OF EDUCATION LECTURE THEATRE,08:30AM - 10:30AM,08-May-2013
43,4040,ENG105B,NaN,31.0,60,100,52,FACULTY OF EDUCATION LECTURE THEATRE,08:30AM - 10:30AM,08-May-2013
44,4041,ENG105B,NaN,31.0,20,100,49,FACULTY OF EDUCATION LECTURE THEATRE,08:30AM - 10:30AM,08-May-2013
45,4042,ENG105B,NaN,25.0,56,100,55,LECTURE THEATER,08:30AM - 10:30AM,08-May-2013
46,4043,ENG105B,NaN,25.0,24,100,12,LECTURE THEATER,08:30AM - 10:30AM,08-May-2013
47,4044,ENG105B,NaN,15.0,56,100,30,LECTURE THEATER,08:30AM - 10:30AM,08-May-2013
439,4045,ENG105B,NaN,15.0,24,100,27,LECTURE THEATER,08:30AM - 10:30AM,08-May-2013
440,4046,ENG105B,NaN,21.0,52,100,21,LECTURE THEATER,08:30AM - 10:30AM,08-May-2013
441,4047,ENG105B,NaN,21.0,28,100,25,LECTURE THEATER,08:30AM - 10:30AM,08-May-2013
442,4048,ENG105B,NaN,22.0,50,100,24,LECTURE THEATER,08:30AM - 10:30AM,08-May-2013
443,4049,ENG105B,NaN,22.0,30,100,54,LECTURE THEATER,08:30AM - 10:30AM,08-May-2013
444,4050,ENG105B,NaN,23.0,50,100,28,LECTURE THEATER,08:30AM - 10:30AM,08-May-2013
445,4051,ENG105B,NaN,23.0,30,100,26,LECTURE THEATER,08:30AM - 10:30AM,08-May-2013
446,4052,ENG105B,NaN,40.0,50,100,53,LECTURE THEATER,08:30AM - 10:30AM,08-May-2013
447,4053,ENG105B,NaN,40.0,30,100,19,LECTURE THEATER,08:30AM - 10:30AM,08-May-2013
448,4054,ENG105B,NaN,8.0,48,100,37,CAFETERIA ROOF TOP,08:30AM - 10:30AM,08-May-2013
449,4055,ENG105B,NaN,8.0,27,100,38,CAFETERIA ROOF TOP,08:30AM - 10:30AM,08-May-2013

In [8]:
T.groupby(["coursecode", "numbstudents","IDtimetable",]).agg("numbstudents").sum()

coursecode  numbstudents  IDtimetable
AAS201N     108           4753           108
AAS304N     102           4325           102
AAS305N     102           4707           102
AAS401N     26            4456            26
AAS404N     25            4428            25
                                        ...
THS425      2             4736             2
THS428      15            4512            15
THS429      1             4739             1
TMG399      56            4767            56
TMG406      44            4458            44
Name: numbstudents, Length: 775, dtype: int64